.role-super-admin.node-type-inception .tabs ul.primary {
  display: block;
}

#ds-inception-overlay {
  display: none;
  position: fixed;
  z-index: 19;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}

#ds-inception-overlay-load {
  background: url("../img/spinner.gif") no-repeat scroll 50% 50%;
  background-color: rgb(0, 0, 0);
  border-radius: 999px;
  height: 40px;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  padding: 10px;
  position: fixed;
  top: 50%;
  width: 40px;
  z-index: 9999;
}

#inception-edit-form-holder {
  padding: 10px 0;
}

#inception-edit-form-holder.inception-preview {
  border: 0;
  margin: 0;
}

#inception-edit-header {
  width: 100%;
  overflow: auto;
}

#inception-edit-link {
  float: right;
}

#inception-current-layout {
  float: left;
}

#inception-current-layout img {
  max-height: 50px;
  width: auto;
  vertical-align: middle;
  margin-right: 10px;
}

#inception-edit-form {
  display: none;
}

#ds-inception-footer {
  height: 70px;
  background: #222;
  z-index: 20;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  border-top: 2px solid #444;
  display: none;
}

.inception-object-edit-drop {
  height: 60px;
  background: #fffdef;
  border: 1px dashed #c7b826;
  width: 100%;
  text-align: center;
  margin: auto auto;
  clear: both;
  margin: 5px 0;
}

.inception-object-edit-drop.selected-drop-zone {
  border-color: #000;
  background: #fbec5d;
}

.inception-object-edit-drag.ui-draggable-dragging {
  z-index: 500;
}

.inception-object-toolbar {
  position: absolute;
  height: 35px;
  width: 100%;
  background: #e2e2e2;
  border-bottom: 2px solid #d2d2d2;
  color: #000;
  text-align: right;
  display: none;
  z-index: 21;
  top: 0px;
  cursor: move;
}

.inception-field-type {
  font-size: 14px;
  font-weight: bold;
  float: left;
  margin: 10px;
}

.inception-object-toolbar a:link,
.inception-object-toolbar a:visited {
  font-size: 16px;
  color: #000;
}

.inception-preview-grid-select {
  cursor: pointer;
  float: left;
  padding: 50px;
  text-align: center;
  width: 25%;
}

.inception-preview-grid-select:hover {
  background: #e2e2e2;
}

#inception-preview-grid-holder {
  overflow: auto;
}

.inception-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -9999px;
  opacity: 0.75;
  vertical-align: middle;
  margin: 5px;
}

.inception-icon.edit {
  background-image: url('../img/icn_edit2.png');
}

.inception-icon.remove {
  background-image: url('../img/icn_trash.png');
}

.inception-icon.permissions {
  background-image: url('../img/icn_permissions.png');
}

.inception-icon.configure {
  background-image: url('../img/icn_edit.png');
}

.inception-icon.drop1 {
  background-image: url('../img/icn_drop1.png');
  background-size: 100%;
  width: 48px;
  height: 48px;
}

.inception-icon.drop2 {
  background-image: url('../img/icn_drop2.png');
  background-size: 100%;
  width: 40px;
  height: 40px;
  display: block;
  margin: 10px auto 2px;
}

.inception-icon.drop2:hover,
.inception-icon.drop1:hover {
  width: 50px;
  height: 50px;
  margin: 5px auto 2px;
}

#inception-inherited-parent {
  clear: both;
  background: #ffffff;
  border: 2px solid #c7b826;
  text-transform: uppercase;
  text-align: center;
  max-width: 80%;
  margin: auto auto;
}

/* Scratch */
#inception-scratch {
  position: fixed;
  right: 0;
  width: 400px;
  height: 800px;
  overflow-y: scroll;
  background: #fff;
  z-index: 150;
  top: 128px;
  display: none;
  border: 2px solid #c7b826;
  border-right: 0;
}

#inception-scratch:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

#inception-dropzone {
  cursor: pointer;
  position: fixed;
  right: 0;
  width: 70px;
  z-index: 51;
  height: 80px;
  top: 50px;
  background: #fffdef;
  border: 1px solid #c7b826;
  border-right: 0;
  border-radius: 6px 0 0 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 10px;
  text-align: center;
  line-height: 5px;
  overflow: hidden;
}

#inception-scratch-count {
  position: absolute;
  line-height: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 9px;
  color: #fff;
  background: red;
  z-index: 52;
  top: 5px;
  left: 5px;
}

#inception-scratch-drop {
  text-align: center;
  padding: 20px;
}

#inception-scratch .inception-object-edit-drag {
  border-bottom: 1px dashed #c7b826;
  padding: 15px;
  max-height: 100px;
  overflow: hidden;
  font-size: 10px;
  cursor: move;
}

#inception-scratch .inception-object-edit-drag:hover {
  max-height: 200px;
}

#inception-scratch .inception-object-edit-drag .inception-object-toolbar {
  right: 10px;
}

#inception-scratch .scratch {
  height: 20px;
  position: relative;
  background: url('../img/dropzone_fadeout.png') repeat-x 0 0;
  margin-top: -21px;
}

.inception-field-preview-label,
.inception-field-hide {
  display: none;
}

.field-formatter-settings {
  display: none;
  padding: 25px;
  text-align: left;
  background: #e2e2e2;
}

#inception-scratch .inception-field-preview-label {
  display: block;
}

#ds-inception-footer .inception-button {
  background: none;
}

.inception-button.warning {
  background-color: #ee7600;
}

.inception-button.warning:hover {
  background-color: #ef8319;
}

.inception-button {
  border: 2px solid #000;
  background-color: #44c767;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff !important;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
  text-shadow: 1px 1px 1px #2f6627;
  margin-right: 5px;
}

.inception-button:last-of-type {
  margin-right: 0;
}

.inception-button:hover,
#ds-inception-footer .inception-button:hover {
  color: #ffffff;
  background-color: #5cbf2a;
}

/**
 * ctools drop-button css
 */

.ctools-dropbutton-processed {
  position: absolute;
}

.ctools-dropbutton-processed .ctools-content {
  border-right: 1px solid #e8e8e8;
}

.ctools-dropbutton-processed .ctools-content ul {
  margin: 0;
  padding: 0;
}

.ctools-content ul.actions {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.ctools-button-processed .ctools-content a {
  background-image: none;
  border: medium none;
}

.ctools-dropbutton-processed.open:hover {
  border-color: #d0d0d0;
}

.ctools-dropbutton-processed.open {
  z-index: 100;
}

.ctools-dropbutton-processed .ctools-link {
  border-left: 1px solid #ffffff;
}

.ctools-dropbutton-processed.open .ctools-content {
  padding-bottom: 4px;
}

.ctools-dropbutton-processed li a,
.ctools-dropbutton-processed li input {
  padding-right: 9px;
}

.ctools-dropbutton-processed.open li + li {
  border-top: 1px solid #efefef;
  margin-top: 4px;
  padding-bottom: 0;
  padding-top: 4px;
}

.ctools-dropbutton-processed {
  top: 18px;
}

.ctools-dropbutton {
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
}

.ctools-dropbutton-processed,
.ctools-dropbutton-processed.open:hover {
  background-color: #fff !important;
  background-image: -moz-linear-gradient(-90deg, white 0px, #efeded 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #efefef));
  background-image: -webkit-linear-gradient(-90deg, white 0px, #efeded 100%);
  background-image: linear-gradient(-90deg, #ffffff 0px, #efeded 100%);
}

.ctools-dropbutton-processed.open {
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.ctools-dropbutton-processed .ctools-content {
  border-right: 1px solid #fff;
}

.ctools-dropbutton-processed .ctools-link {
  border-left: 1px solid #eaeaea;
  width: 27px;
}

.ctools-dropbutton-processed {
  padding-right: 27px;
  position: relative;
}

.ctools-dropbutton-processed .ctools-link,
.ctools-dropbutton-processed .ctools-content {
  border: 0;
}

.ctools-dropbutton-processed a {
  color: #424242;
}

.ctools-twisty {
  width: 1px;
  right: 10px;
}

/* Inception Preview Mode */
body.inception-preview #inception-inherited-parent,
body.inception-preview .inception-object-edit-drop,
body.inception-preview #inception-edit-toggle,
body.inception-preview #inception-dropzone,
body.inception-preview .inception-object-toolbar,
body.inception-preview .field-formatter-settings,
body.inception-preview #inception-current-layout {
  display: none !important;
}

body.inception-preview .inception-field-preview-empty {
  display: none;
}

/* Display Suite Field Templates */
.inception-object .ft-group {
  overflow: auto;
}

.inception-object .ft-group.disabled .form-item {
  display: none;
}

.inception-object .ft-group.disabled .form-item-ow,
.inception-object .ft-group.disabled .form-item-fis,
.inception-object .ft-group.disabled .form-item-fi,
.inception-object .ft-group.disabled .form-item-lbw {
  display: inline-block;
}
